.manual-attendance-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9fafb;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button:disabled {
    background-color: #d1d5db;
  }
  .status-green {
    color: rgb(2, 158, 2) ;
  }
  
  .status-red {
    color: #d20a10 ; /* Red */
  }
  
  .status-yellow {
    color: #c9c900 ; /* Yellow */
  }
  