    /* Tailwind's transition classes */
    .transition {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
    .ease-in-out {
        transition-timing-function: ease-in-out;
    }
    .duration-200 {
        transition-duration: 200ms;
    }
    .animate-spin {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }