/* Custom styles for user management component (optional) */
.container {
    max-width: 1250px;
    margin: auto;
  }
  
  button {
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
  }
  