<div class="dashboard-container">
    <h2>Welcome, John Doe!</h2>
  
    <!-- Statistics Cards -->
    <div class="stats-cards">
        <app-stats-card icon="group" [count]="120" title="Total Employees" colorClass="blue"></app-stats-card>
        <app-stats-card icon="check_circle" [count]="95" title="Attendance Rate" colorClass="green"></app-stats-card>
        <app-stats-card icon="task" [count]="45" title="Tasks in Progress" colorClass="orange"></app-stats-card>
        <app-stats-card icon="assignment_turned_in" [count]="30" title="Completed Tasks" colorClass="purple"></app-stats-card>
      </div>
      
  
    <!-- Charts Container -->
    <div class="charts-container">
      <mat-card class="chart-card">
        <mat-card-header>
          <mat-card-title>Productivity Over the Week</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-line-chart></app-line-chart>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="chart-card">
        <mat-card-header>
          <mat-card-title>Attendance Rate</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-donut-chart></app-donut-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
