@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }

  @keyframes slide-in-left {
    from { transform: translateX(-20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.3s ease-out;
  }

  @keyframes slide-in-right {
    from { transform: translateX(20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }

  @keyframes slide-in-bottom {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  .animate-slide-in-bottom {
    animation: slide-in-bottom 0.3s ease-out;
  }
  .leave-table-cell-padding mat-cell,
.leave-table-cell-padding mat-header-cell,
.leave-table-cell-padding mat-footer-cell {
  text-align: center; /* Center align all table columns */
  vertical-align: middle; /* Optional: vertically center text */
}

.leave-table-cell-padding mat-cell:first-of-type,
.leave-table-cell-padding mat-header-cell:first-of-type,
.leave-table-cell-padding mat-footer-cell:first-of-type {
  padding-left: 10px;
}
