/* .captured-image {
    width: 100px;
    margin: 5px;
  }
  
  .capture-ring {
    border-radius: 50%;
    border: 5px solid #3498db;
    padding: 10px;
    margin: 20px;
    text-align: center;
    animation: ring 1s linear infinite;
  }
  
  @keyframes ring {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

   */