
<body class="flex h-screen bg-gray-100 font-sans shadow-md overflow-hidden">
  <!-- Sidebar -->
  <aside class="sticky top-0 w-64 bg-white shadow-[8px_8px_20px_rgba(0,0,0,0.1)] border border-gray-100 z-[999]"  [ngClass]="{'collapsed': isCollapsed}">
    <div class="flex items-center justify-center h-16 p-4 ">
      <img src="assets/images/Vectorlogo.png" alt="Logo" [ngClass]="{'w-10': isCollapsed, 'w-2/4 mt-5': !isCollapsed}">

      <h2 *ngIf="!isCollapsed" class="text-2xl font-semibold text-primary mb-1 mt-6 ml-0 ">Smart Employee</h2>

    </div>
    <!-- <nav class="mt-12" [ngClass]="{ 'ml-3': !isCollapsed }">
      <ul>
        <li>
          <a
            routerLink="/home/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">dashboard</span>
            <span *ngIf="!isCollapsed" class="ml-3">Dashboard</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/attendance"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">check_circle</span>
            <span *ngIf="!isCollapsed" class="ml-3">Attendance</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/leave-management"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">event_available</span>
            <span *ngIf="!isCollapsed" class="ml-3">Leave Management</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/employee-management"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">group</span>
            <span *ngIf="!isCollapsed" class="ml-3">Employee Management</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/reports"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">assessment</span>
            <span *ngIf="!isCollapsed" class="ml-3">Reports</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/document-repository"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">folder</span>
            <span *ngIf="!isCollapsed" class="ml-3">Documents repository</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/settings"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">settings</span>
            <span *ngIf="!isCollapsed" class="ml-3">Settings</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
            (click)="signOut()"
            [ngClass]="{ 'collapsed': isCollapsed }"
          >
            <span class="material-icons">logout</span>
            <span *ngIf="!isCollapsed" class="ml-3">Logout</span>
          </a>
        </li>
      </ul>
    </nav> -->
    <nav class="mt-12 " [ngClass]="{ 'ml-3': !isCollapsed }">
      <ul>
        <li *ngFor="let activity of activities" class="nav-item">
          <a
            [routerLink]="activity.activityURL"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ 'collapsed': isCollapsed }"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
          >
            <span class="material-icons">{{ getIconForActivity(activity.activityName) }}</span>
            <span *ngIf="!isCollapsed" class="ml-3">{{ activity.activityName }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="flex items-center px-4 py-3 text-gray-700 hover:text-primary hover:text-white"
            (click)="signOut()"
            [ngClass]="{ 'collapsed': isCollapsed }"
          >
            <span class="material-icons">logout</span>
            <span *ngIf="!isCollapsed" class="ml-3">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
    
    
     <!-- <mat-nav-list class="mt-12" [ngClass]="{ 'ml-3': !isCollapsed }">
      <mat-list-item *ngFor="let activity of activities" [routerLink]="activity.activityURL" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ 'collapsed': isCollapsed }">
        <mat-icon>{{ getIconForActivity(activity.activityName) }}</mat-icon>
        <span *ngIf="!isCollapsed" class="ml-3">{{ activity.activityName }}</span>
      </mat-list-item>
    
      <mat-list-item (click)="signOut()" [ngClass]="{ 'collapsed': isCollapsed }">
        <mat-icon>logout</mat-icon>
        <span *ngIf="!isCollapsed" class="ml-3">Logout</span>
      </mat-list-item>
    </mat-nav-list>
     -->
    
 
  </aside>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col ">
    <!-- Header -->
    <header class="sticky top-0 z-50 flex items-center justify-between h- px-6 bg-white  p-2.5  drop-shadow-lg border border-gray-300 z-[999]">
      <!-- Left Section: Sidebar Toggle Button + Search Bar -->
      <div class="flex items-center space-x-4">
        <!-- Sidebar Toggle Button -->
        <button class="material-icons cursor-pointer text-primary" (click)="toggleSidebar()">menu</button>
    
        <!-- Search Bar -->
        <div class="relative">
          <input
            type="text"
            placeholder="Search..."
            class="w-72 py-2 pl-10 pr-4 bg-gray-50 rounded-lg shadow-inner focus:ring-2 focus:ring-yellow-500 focus:outline-none"
          />
          <span class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">search</span>
        </div>
      </div>
    
      <!-- Right Section: Notification and User Profile -->
      <div class="flex items-center space-x-6">
        <!-- Notifications -->
        <div class="relative cursor-pointer">
          <span class="material-icons text-gray-700">notifications</span>
          <span
            class="absolute top-0 right-0 bg-red-500 text-white text-xs rounded-full px-1.5 py-0.1">
            15
          </span>
        </div>
    
        <!-- User Profile Dropdown -->
        <div class="relative">
          <!-- Profile Summary -->
          <div class="flex items-center cursor-pointer" (click)="toggleUserMenu()">
            <img *ngIf="gender?.toLowerCase() === 'm'" src="assets/images/man.png" alt="User" class="w-10 h-10 rounded-full">
            <img *ngIf="gender?.toLowerCase() === 'f'" src="assets/images/woman.png" alt="User" class="w-10 h-10 rounded-full">
            <div class="ml-2 text-gray-700 font-medium">
              <div>{{ fullName }}</div>
              <div class="text-sm text-gray-500">{{ Designation }}</div>
            </div>
            <span class="material-icons text-gray-700 ml-1">arrow_drop_down</span>
          </div>
    
          <!-- Dropdown Menu -->
          <div
            *ngIf="isUserMenuOpen"
            class="absolute right-0 mt-2 w-56 bg-white rounded-lg shadow-lg z-10">
            <!-- Profile Section -->
            <div class="flex items-center  px-4 py-3 border-b">
              <img *ngIf="gender?.toLowerCase() === 'm'" src="assets/images/man.png" alt="User" class="w-10 h-10 rounded-full">
              <img *ngIf="gender?.toLowerCase() === 'f'" src="assets/images/woman.png" alt="User" class="w-10 h-10 rounded-full">

              <div class="ml-3 text-gray-700">
                <p class="font-medium">{{ fullName }}</p>

                <p class="text-sm text-gray-500">{{ Designation }}</p>
              </div>
            </div>
    
            <!-- Dropdown Items -->
            <a href="#" class="block px-4 py-2 text-gray-700 hover:text-primary hover:text-white">
              <span class="material-icons align-middle mr-2">person</span> Profile
            </a>
            <a href="#" class="block px-4 py-2 text-gray-700 hover:text-primary hover:text-white">
              <span class="material-icons align-middle mr-2">settings</span> Settings
            </a>
            <a href="#" class="block px-4 py-2 text-gray-700 hover:text-primary hover:text-white">
              <span class="material-icons align-middle mr-2"  (click)="signOut();">logout</span> Logout
            </a>
          </div>
        </div>
      </div>
    </header>
    

    <div [ngClass]="{'content-collapsed': isCollapsed}" class="main-content ">
      <router-outlet ></router-outlet>
    </div>
  </div>
</body>