::ng-deep .actions-header {
    padding-left: 38px !important;
    display: flex;
    align-items: center;
  }
  
  ::ng-deep .actions-cell {
    padding-left: 38px !important;
    display: flex;
    align-items: center;
  }
  
  ::ng-deep .action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  