<!-- In your parent component template -->

<div class="container mx-auto p-6 max-w-screen-xl" >
  <!-- Header Section -->
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-5">
    <div class="bg-white rounded-lg p-4 flex w-full">

    <!-- Left Side: Title and Search Field -->
    <div class=" flex flex-col sm:flex-row sm:items-center gap-4 flex-1">
      <h1 class="text-2xl font-semibold flex items-center">
        <mat-icon class="mr-2">group</mat-icon>
        Employee Management
      </h1>
      <!-- Search Bar -->
      <div class="relative">
        <input
          type="text"
          placeholder="Search..."
          class="w-72 py-2 pl-10 pr-4 bg-gray-50 rounded-lg shadow-inner focus:ring-2 focus:ring-yellow-500 focus:outline-none"
          (input)="applyFilter($event)"
        />
        <span class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">search</span>
      </div>
      
    </div>

    <!-- Right Side: Buttons -->
    <div class="flex gap-4 mt-4 sm:mt-0">
      <button mat-raised-button color="primary" (click)="addUser()" class="equal-width">
        <mat-icon>person_add</mat-icon> Add Employee
      </button>
      
      <button mat-raised-button color="warn" (click)="exportData()" class="equal-width">
        <mat-icon>import_export</mat-icon> Export
      </button>
      
      
    </div>

    </div>
  </div>
    <table mat-table [dataSource]="dataSource" matSort id="excel-table" class="table saf-table  ">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.min-width]="column.width" [style.max-width]="column.width">
          {{ column.header }}
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row" [style.min-width]="column.width" [style.max-width]="column.width">
          <div *ngIf="column.columnDef !== 'delete' && column.columnDef !== 'action' && column.columnDef !== 'select' && column.columnDef !== 'iS_ACTIVE' && column.columnDef !== 'closed'">
            <div *ngIf="column.cell">
              {{ common.checkForNull(column.cell(row)) }}
            </div>
          </div>
          
  
          <div *ngIf="column.columnDef === 'action'">
            <span style="cursor: pointer;" (click)="editUser(row.user_ID)" matTooltip="Edit" class="mr-2">
              <mat-icon color="primary">edit</mat-icon>
            </span>
            <span (click)="deleteUser(row)" matTooltip="Delete">
              <mat-icon style="cursor: pointer;" color="warn">delete</mat-icon>
            </span>
          </div>
          
          
        
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (mouseover)="row.hovered = true"
               (mouseout)="row.hovered = false"
               [ngClass]="{hovered: row.hovered}"
               class="element-row"
               matRipple>
      </mat-row>

    </table>
    <mat-paginator class="mt-4" pageSize="10" [pageSizeOptions]="[10, 20, 30, 50,]" showFirstLastButtons></mat-paginator>

 
  
</div>


