.custom-export-button{
  background-color: #670404;
  color: white;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.equal-width {
  min-width: 140px; /* Adjust based on content size */
  width: auto;
  flex-grow: 1; /* Makes both buttons take equal width */
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-dialog .mat-dialog-container {
  border-radius: 8px; /* Apply rounded corners */
}
